In [1]:
import pandas as pd
import numpy as np

In [2]:
oil = pd.read_csv("../retail/oil.csv")

oil.columns = ['date', 'price']

oil.head()

         date  price
0  2013-01-01    NaN
1  2013-01-02  93.14
2  2013-01-03  92.97
3  2013-01-04  93.12
4  2013-01-07  93.20

In [4]:
oil["buy"] = np.where(oil["price"] > 100, "Too High", "Buy")

oil

            date  price  buy
0     2013-01-01    NaN  Buy
1     2013-01-02  93.14  Buy
2     2013-01-03  92.97  Buy
3     2013-01-04  93.12  Buy
4     2013-01-07  93.20  Buy
...          ...    ...  ...
1213  2017-08-25  47.65  Buy
1214  2017-08-28  46.40  Buy
1215  2017-08-29  46.46  Buy
1216  2017-08-30  45.96  Buy
1217  2017-08-31  47.26  Buy

[1218 rows x 3 columns]

In [5]:
oil["buy"].value_counts()

buy
Buy         1036
Too High     182
Name: count, dtype: int64

In [6]:
conditions = [
    (oil["price"] > 100),
    (oil["price"] <= 100) & (oil["price"] > 50),
    (oil["price"] <= 50)
]

choices = ["Don't Buy", "Buy", "Strong Buy"]

oil["buy"] = np.select(conditions, choices, default="Missing")

oil.head()

         date  price      buy
0  2013-01-01    NaN  Missing
1  2013-01-02  93.14      Buy
2  2013-01-03  92.97      Buy
3  2013-01-04  93.12      Buy
4  2013-01-07  93.20      Buy

In [7]:
oil.tail()

            date  price         buy
1213  2017-08-25  47.65  Strong Buy
1214  2017-08-28  46.40  Strong Buy
1215  2017-08-29  46.46  Strong Buy
1216  2017-08-30  45.96  Strong Buy
1217  2017-08-31  47.26  Strong Buy

In [8]:
oil["buy"].value_counts()

buy
Buy           512
Strong Buy    481
Don't Buy     182
Missing        43
Name: count, dtype: int64