In [2]:
import pandas as pd

In [4]:
retail = pd.read_csv('../retail/retail_2016_2017.csv')

retail.head()

        id        date  store_nbr      family  sales  onpromotion
0  1945944  2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945  2016-01-01          1   BABY CARE    0.0            0
2  1945946  2016-01-01          1      BEAUTY    0.0            0
3  1945947  2016-01-01          1   BEVERAGES    0.0            0
4  1945948  2016-01-01          1       BOOKS    0.0            0

In [5]:
retail.loc[:, 'family'].value_counts()

family
AUTOMOTIVE                    31968
HOME APPLIANCES               31968
SCHOOL AND OFFICE SUPPLIES    31968
PRODUCE                       31968
PREPARED FOODS                31968
POULTRY                       31968
PLAYERS AND ELECTRONICS       31968
PET SUPPLIES                  31968
PERSONAL CARE                 31968
MEATS                         31968
MAGAZINES                     31968
LIQUOR,WINE,BEER              31968
LINGERIE                      31968
LAWN AND GARDEN               31968
LADIESWEAR                    31968
HOME CARE                     31968
HOME AND KITCHEN II           31968
BABY CARE                     31968
HOME AND KITCHEN I            31968
HARDWARE                      31968
GROCERY II                    31968
GROCERY I                     31968
FROZEN FOODS                  31968
EGGS                          31968
DELI                          31968
DAIRY                         31968
CLEANING                      31968
CELEBRATION                   31968
BREAD/BAKERY                  31968
BOOKS                         31968
BEVERAGES                     31968
BEAUTY                        31968
SEAFOOD                       31968
Name: count, dtype: int64

In [6]:
product_category_dict = {
    'PRODUCE': 'Grocery',
    'POULTRY': 'Grocery',
    'GROCERY I': 'Grocery',
    'GROCERY II': 'Grocery',
    'EGGS': 'Grocery'}

In [7]:
retail.loc[: , "family"].map(product_category_dict)

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
            ...
1054939    Grocery
1054940        NaN
1054941    Grocery
1054942        NaN
1054943        NaN
Name: family, Length: 1054944, dtype: object

In [8]:
retail.loc[: , "family"].map(product_category_dict).value_counts()

family
Grocery    159840
Name: count, dtype: int64

In [9]:
retail.loc[: , "family"].map(product_category_dict).value_counts(dropna=False)

family
NaN        895104
Grocery    159840
Name: count, dtype: int64