In [1]:
import pandas as pd

In [5]:
premier_league = pd.read_excel('../project_data/premier_league_games_full.xlsx')

In [6]:
premier_league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [7]:
premier_league.groupby("HomeTeam")

In [10]:
premier_league.groupby("HomeTeam")[['HomeGoals']].mean().sort_values('HomeGoals', ascending=False)

                         HomeGoals
HomeTeam
Manchester City           2.401316
Manchester United         2.223684
Chelsea                   2.190789
Arsenal                   2.013158
Liverpool                 1.934211
Southampton               1.763158
Everton                   1.697368
Tottenham Hotspur         1.677632
Leicester City            1.657895
Blackpool                 1.578947
Fulham                    1.517544
Newcastle United          1.496241
West Ham United           1.466165
Swansea City              1.421053
Bolton Wanderers          1.368421
Stoke City                1.342105
West Bromwich Albion      1.330827
Portsmouth                1.315789
Blackburn Rovers          1.289474
Norwich City              1.263158
Reading                   1.210526
Bournemouth               1.210526
Sunderland                1.210526
Aston Villa               1.177632
Wigan Athletic            1.115789
Wolverhampton Wanderers   1.087719
Queens Park Rangers       1.052632
Watford                   1.052632
Cardiff City              1.052632
Hull City                 1.039474
Burnley                   1.026316
Crystal Palace            1.017544
Birmingham City           1.000000
Middlesbrough             0.894737

In [11]:
premier_league.groupby("AwayTeam")[['AwayGoals']].mean().sort_values('AwayGoals', ascending=False)

                         AwayGoals
AwayTeam
Arsenal                   1.756579
Chelsea                   1.644737
Manchester United         1.605263
Manchester City           1.585526
Liverpool                 1.559211
Tottenham Hotspur         1.486842
Leicester City            1.342105
Blackpool                 1.315789
Everton                   1.190789
Bournemouth               1.157895
Southampton               1.078947
Crystal Palace            1.070175
Reading                   1.052632
Watford                   1.052632
Swansea City              1.031579
Aston Villa               1.026316
Bolton Wanderers          1.013158
Blackburn Rovers          1.013158
Wigan Athletic            0.989474
West Ham United           0.984962
Wolverhampton Wanderers   0.982456
Sunderland                0.980263
Birmingham City           0.973684
Queens Park Rangers       0.964912
West Bromwich Albion      0.962406
Newcastle United          0.939850
Hull City                 0.855263
Norwich City              0.842105
Burnley                   0.815789
Fulham                    0.807018
Stoke City                0.776316
Cardiff City              0.631579
Portsmouth                0.578947
Middlesbrough             0.578947

In [12]:
premier_league.groupby("AwayTeam")[['AwayGoals']].sum().sort_values('AwayGoals', ascending=False)

                         AwayGoals
AwayTeam
Arsenal                        267
Chelsea                        250
Manchester United              244
Manchester City                241
Liverpool                      237
Tottenham Hotspur              226
Everton                        181
Aston Villa                    156
Sunderland                     149
West Ham United                131
West Bromwich Albion           128
Newcastle United               125
Stoke City                     118
Swansea City                    98
Wigan Athletic                  94
Fulham                          92
Southampton                     82
Bolton Wanderers                77
Blackburn Rovers                77
Hull City                       65
Norwich City                    64
Crystal Palace                  61
Wolverhampton Wanderers         56
Queens Park Rangers             55
Leicester City                  51
Birmingham City                 37
Burnley                         31
Blackpool                       25
Portsmouth                      22
Bournemouth                     22
Reading                         20
Watford                         20
Cardiff City                    12
Middlesbrough                   11