In [1]:
import pandas as pd

In [2]:
premier_league = pd.read_excel('../project_data/premier_league_games_full.xlsx')

In [3]:
premier_league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [4]:
(premier_league
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg("sum"))

,season,HomeTeam,id,league_name,AwayTeam,HomeGoals,AwayGoals
0,2008/2009,Arsenal,36128,England Premier LeagueEngland Premier LeagueEn...,West Bromwich AlbionTottenham HotspurMancheste...,31,16
1,2008/2009,Aston Villa,36136,England Premier LeagueEngland Premier LeagueEn...,Manchester CityBlackburn RoversMiddlesbroughMa...,27,21
2,2008/2009,Blackburn Rovers,36781,England Premier LeagueEngland Premier LeagueEn...,ChelseaSunderlandLiverpoolStoke CityHull CityM...,22,23
3,2008/2009,Bolton Wanderers,36214,England Premier LeagueEngland Premier LeagueEn...,Stoke CityEvertonManchester CityLiverpoolChels...,21,21
4,2008/2009,Chelsea,36552,England Premier LeagueEngland Premier LeagueEn...,PortsmouthSunderlandNewcastle UnitedArsenalWes...,33,12
...,...,...,...,...,...,...,...
155,2015/2016,Swansea City,87241,England Premier LeagueEngland Premier LeagueEn...,ArsenalBournemouthLeicester CityWest Ham Unite...,20,20
156,2015/2016,Tottenham Hotspur,87218,England Premier LeagueEngland Premier LeagueEn...,Aston VillaWest Ham UnitedChelseaNewcastle Uni...,35,15
157,2015/2016,Watford,87142,England Premier LeagueEngland Premier LeagueEn...,West Ham UnitedManchester UnitedNorwich CityLi...,20,19
158,2015/2016,West Bromwich Albion,87064,England Premier LeagueEngland Premier LeagueEn...,Manchester CityLeicester CityArsenalTottenham ...,20,26
159,2015/2016,West Ham United,86965,England Premier LeagueEngland Premier LeagueEn...,ChelseaEvertonWest Bromwich AlbionStoke CitySo...,34,26

In [8]:
(premier_league
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg(["sum", "mean"]))

TypeError: agg function failed [how->mean,dtype->object]

In [11]:
(premier_league
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg(["sum", "count"]))

        season              HomeTeam     id        \
                                        sum count
0    2008/2009               Arsenal  36128    19
1    2008/2009           Aston Villa  36136    19
2    2008/2009      Blackburn Rovers  36781    19
3    2008/2009      Bolton Wanderers  36214    19
4    2008/2009               Chelsea  36552    19
..         ...                   ...    ...   ...
155  2015/2016          Swansea City  87241    19
156  2015/2016     Tottenham Hotspur  87218    19
157  2015/2016               Watford  87142    19
158  2015/2016  West Bromwich Albion  87064    19
159  2015/2016       West Ham United  86965    19

                                           league_name        \
                                                   sum count
0    England Premier LeagueEngland Premier LeagueEn...    19
1    England Premier LeagueEngland Premier LeagueEn...    19
2    England Premier LeagueEngland Premier LeagueEn...    19
3    England Premier LeagueEngland Premier LeagueEn...    19
4    England Premier LeagueEngland Premier LeagueEn...    19
..                                                 ...   ...
155  England Premier LeagueEngland Premier LeagueEn...    19
156  England Premier LeagueEngland Premier LeagueEn...    19
157  England Premier LeagueEngland Premier LeagueEn...    19
158  England Premier LeagueEngland Premier LeagueEn...    19
159  England Premier LeagueEngland Premier LeagueEn...    19

                                              AwayTeam       HomeGoals        \
                                                   sum count       sum count
0    West Bromwich AlbionTottenham HotspurMancheste...    19        31    19
1    Manchester CityBlackburn RoversMiddlesbroughMa...    19        27    19
2    ChelseaSunderlandLiverpoolStoke CityHull CityM...    19        22    19
3    Stoke CityEvertonManchester CityLiverpoolChels...    19        21    19
4    PortsmouthSunderlandNewcastle UnitedArsenalWes...    19        33    19
..                                                 ...   ...       ...   ...
155  ArsenalBournemouthLeicester CityWest Ham Unite...    19        20    19
156  Aston VillaWest Ham UnitedChelseaNewcastle Uni...    19        35    19
157  West Ham UnitedManchester UnitedNorwich CityLi...    19        20    19
158  Manchester CityLeicester CityArsenalTottenham ...    19        20    19
159  ChelseaEvertonWest Bromwich AlbionStoke CitySo...    19        34    19

    AwayGoals
          sum count
0          16    19
1          21    19
2          23    19
3          21    19
4          12    19
..        ...   ...
155        20    19
156        15    19
157        19    19
158        26    19
159        26    19

[160 rows x 12 columns]

In [12]:
(premier_league
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg({"HomeGoals": ["sum", "mean"],
       "AwayGoals": ["sum", "sum"]}))

        season              HomeTeam HomeGoals           AwayGoals
                                           sum      mean       sum sum
0    2008/2009               Arsenal        31  1.631579        16  16
1    2008/2009           Aston Villa        27  1.421053        21  21
2    2008/2009      Blackburn Rovers        22  1.157895        23  23
3    2008/2009      Bolton Wanderers        21  1.105263        21  21
4    2008/2009               Chelsea        33  1.736842        12  12
..         ...                   ...       ...       ...       ...  ..
155  2015/2016          Swansea City        20  1.052632        20  20
156  2015/2016     Tottenham Hotspur        35  1.842105        15  15
157  2015/2016               Watford        20  1.052632        19  19
158  2015/2016  West Bromwich Albion        20  1.052632        26  26
159  2015/2016       West Ham United        34  1.789474        26  26

[160 rows x 6 columns]

In [13]:
(premier_league
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg(home_goal_sum = ("HomeGoals", "sum"),
      away_goal_sum = ("AwayGoals", "sum")))

        season              HomeTeam  home_goal_sum  away_goal_sum
0    2008/2009               Arsenal             31             16
1    2008/2009           Aston Villa             27             21
2    2008/2009      Blackburn Rovers             22             23
3    2008/2009      Bolton Wanderers             21             21
4    2008/2009               Chelsea             33             12
..         ...                   ...            ...            ...
155  2015/2016          Swansea City             20             20
156  2015/2016     Tottenham Hotspur             35             15
157  2015/2016               Watford             20             19
158  2015/2016  West Bromwich Albion             20             26
159  2015/2016       West Ham United             34             26

[160 rows x 4 columns]