In [1]:
import pandas as pd

In [2]:
premier_league = pd.read_excel('../project_data/premier_league_games_full.xlsx')

In [3]:
premier_league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [4]:
premier_league.assign(
    avg_team_goals = premier_league.groupby(["HomeTeam"])["HomeGoals"].transform("sum"))

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avg_team_goals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1,338
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0,306
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1,184
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1,195
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2,179
...,...,...,...,...,...,...,...,...
3035,4764,England Premier League,2015/2016,Southampton,Leicester City,2,2,134
3036,4765,England Premier League,2015/2016,Swansea City,Stoke City,0,1,135
3037,4766,England Premier League,2015/2016,Tottenham Hotspur,Liverpool,0,0,255
3038,4767,England Premier League,2015/2016,Watford,Arsenal,0,3,20
3039,4768,England Premier League,2015/2016,West Bromwich Albion,Sunderland,1,0,177

In [5]:
premier_league.assign(
    avg_team_goals = premier_league.groupby(["HomeTeam"])["HomeGoals"].transform("mean"))

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avg_team_goals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1,2.223684
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0,2.013158
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1,1.210526
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1,1.466165
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2,1.177632
...,...,...,...,...,...,...,...,...
3035,4764,England Premier League,2015/2016,Southampton,Leicester City,2,2,1.763158
3036,4765,England Premier League,2015/2016,Swansea City,Stoke City,0,1,1.421053
3037,4766,England Premier League,2015/2016,Tottenham Hotspur,Liverpool,0,0,1.677632
3038,4767,England Premier League,2015/2016,Watford,Arsenal,0,3,1.052632
3039,4768,England Premier League,2015/2016,West Bromwich Albion,Sunderland,1,0,1.330827

In [6]:
premier_league.assign(
    avg_team_goals = premier_league.groupby(["HomeTeam"])["HomeGoals"].transform("mean"),
    difference = lambda x: x["HomeGoals"] - x["avg_team_goals"])

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avg_team_goals,difference
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1,2.223684,-1.223684
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0,2.013158,-1.013158
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1,1.210526,-1.210526
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1,1.466165,0.533835
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2,1.177632,2.822368
...,...,...,...,...,...,...,...,...,...
3035,4764,England Premier League,2015/2016,Southampton,Leicester City,2,2,1.763158,0.236842
3036,4765,England Premier League,2015/2016,Swansea City,Stoke City,0,1,1.421053,-1.421053
3037,4766,England Premier League,2015/2016,Tottenham Hotspur,Liverpool,0,0,1.677632,-1.677632
3038,4767,England Premier League,2015/2016,Watford,Arsenal,0,3,1.052632,-1.052632
3039,4768,England Premier League,2015/2016,West Bromwich Albion,Sunderland,1,0,1.330827,-0.330827

In [7]:
pm = premier_league.assign(
    avg_team_goals = premier_league.groupby(["HomeTeam"])["HomeGoals"].transform("mean"),
    difference = lambda x: x["HomeGoals"] - x["avg_team_goals"])

In [8]:
pm.groupby(["HomeTeam", "AwayTeam"]).agg({"difference": "mean"}).sort_values("difference")

                                             difference
HomeTeam                AwayTeam
Chelsea                 Bournemouth           -2.190789
Southampton             Wigan Athletic        -1.763158
                        Cardiff City          -1.763158
Leicester City          Hull City             -1.657895
                        Manchester City       -1.657895
...                                                 ...
Wolverhampton Wanderers Blackpool              2.912281
Fulham                  Queens Park Rangers    2.982456
Everton                 Blackpool              3.302632
Leicester City          Queens Park Rangers    3.342105
Arsenal                 Blackpool              3.986842

[932 rows x 1 columns]

In [9]:
pm.query("HomeTeam == 'Arsenal' and AwayTeam == 'Blackpool'")

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avg_team_goals,difference
870,2599,England Premier League,2010/2011,Arsenal,Blackpool,6,0,2.013158,3.986842

In [10]:
pm.query("AwayTeam == 'Blackpool'")

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avg_team_goals,difference
769,2498,England Premier League,2010/2011,Wigan Athletic,Blackpool,0,4,1.115789,-1.115789
795,2524,England Premier League,2010/2011,Aston Villa,Blackpool,3,2,1.177632,1.822368
801,2530,England Premier League,2010/2011,West Ham United,Blackpool,0,0,1.466165,-1.466165
828,2557,England Premier League,2010/2011,Bolton Wanderers,Blackpool,2,2,1.368421,0.631579
849,2578,England Premier League,2010/2011,Stoke City,Blackpool,0,1,1.342105,-1.342105
870,2599,England Premier League,2010/2011,Arsenal,Blackpool,6,0,2.013158,3.986842
881,2610,England Premier League,2010/2011,Sunderland,Blackpool,0,2,1.210526,-1.210526
894,2623,England Premier League,2010/2011,Manchester City,Blackpool,1,0,2.401316,-1.401316
916,2645,England Premier League,2010/2011,West Bromwich Albion,Blackpool,3,2,1.330827,1.669173
943,2672,England Premier League,2010/2011,Everton,Blackpool,5,3,1.697368,3.302632
966,2695,England Premier League,2010/2011,Wolverhampton Wanderers,Blackpool,4,0,1.087719,2.912281
995,2724,England Premier League,2010/2011,Blackburn Rovers,Blackpool,2,2,1.289474,0.710526
1005,2734,England Premier League,2010/2011,Fulham,Blackpool,3,0,1.517544,1.482456
1051,2780,England Premier League,2010/2011,Tottenham Hotspur,Blackpool,1,1,1.677632,-0.677632
1070,2799,England Premier League,2010/2011,Manchester United,Blackpool,4,2,2.223684,1.776316
1083,2812,England Premier League,2010/2011,Newcastle United,Blackpool,0,2,1.496241,-1.496241
1099,2828,England Premier League,2010/2011,Chelsea,Blackpool,4,0,2.190789,1.809211
1110,2839,England Premier League,2010/2011,Liverpool,Blackpool,1,2,1.934211,-0.934211
1135,2864,England Premier League,2010/2011,Birmingham City,Blackpool,2,0,1.000000,1.000000