In [1]:
import pandas as pd

In [2]:
premier_league = pd.read_excel('../project_data/premier_league_games_full.xlsx')

In [3]:
premier_league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [5]:
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(index="HomeTeam", 
                                                                                  columns="season", 
                                                                                  values="HomeGoals",
                                                                                  aggfunc="mean",
                                                                                  margins=True) # .style.background_gradient(cmap="RdYlGn", axis=None)

season,2008/2009,2009/2010,2010/2011,2011/2012,2012/2013,2013/2014,2014/2015,2015/2016,All
HomeTeam,,,,,,,,,
Arsenal,1.631579,2.526316,1.736842,2.052632,2.473684,1.894737,2.157895,1.631579,2.013158
Chelsea,1.736842,3.578947,2.052632,2.157895,2.157895,2.263158,1.894737,1.684211,2.190789
Everton,1.631579,1.842105,1.631579,1.473684,1.736842,2.000000,1.421053,1.842105,1.697368
All,1.666667,2.649123,1.807018,1.894737,2.122807,2.052632,1.824561,1.719298,1.967105

In [6]:
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(index="HomeTeam", 
                                                                                  columns="season", 
                                                                                  values="HomeGoals",
                                                                                  aggfunc="mean",
                                                                                  margins=True).style.background_gradient(cmap="RdYlGn", axis=None)

In [7]:
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(index="HomeTeam", 
                                                                                  columns="season", 
                                                                                  values="HomeGoals",
                                                                                  aggfunc="mean",
                                                                                  margins=True).style.background_gradient(cmap="RdYlGn", axis=1)

In [8]:
premier_league.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']").pivot_table(index="HomeTeam", 
                                                                                  columns="season", 
                                                                                  values="HomeGoals",
                                                                                  aggfunc="mean",
                                                                                  margins=True).style.background_gradient(cmap="RdYlGn", axis=0)