In [1]:
import pandas as pd

In [2]:
retail = pd.read_csv("../retail/retail_2016_2017.csv", parse_dates=["date"])

retail.head()

        id       date  store_nbr      family  sales  onpromotion
0  1945944 2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945 2016-01-01          1   BABY CARE    0.0            0
2  1945946 2016-01-01          1      BEAUTY    0.0            0
3  1945947 2016-01-01          1   BEVERAGES    0.0            0
4  1945948 2016-01-01          1       BOOKS    0.0            0

In [3]:
retail.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054944 entries, 0 to 1054943
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1054944 non-null  int64
 1   date         1054944 non-null  datetime64[ns]
 2   store_nbr    1054944 non-null  int64
 3   family       1054944 non-null  object
 4   sales        1054944 non-null  float64
 5   onpromotion  1054944 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 108.4 MB

In [4]:
retail["date"].dt.strftime("%Y").head()

0    2016
1    2016
2    2016
3    2016
4    2016
Name: date, dtype: object

In [6]:
retail["date"].dt.strftime("%y-%b-%d").head()

0    16-Jan-01
1    16-Jan-01
2    16-Jan-01
3    16-Jan-01
4    16-Jan-01
Name: date, dtype: object

In [7]:
retail["date"].dt.strftime("%Y-%b,%d").head()

0    2016-Jan,01
1    2016-Jan,01
2    2016-Jan,01
3    2016-Jan,01
4    2016-Jan,01
Name: date, dtype: object