In [1]:
import pandas as pd

In [3]:
# columns = ["index", "Date", "Oil Price"]

oil = pd.read_csv("../retail/oil.csv",
                 # header=0,
                 # names=columns
                 )

oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [4]:
columns = ["index", "Date", "Oil Price"]

oil = pd.read_csv("../retail/oil.csv",
                  header=0,
                  names=columns
                 )

oil.head()

ParserError: Too many columns specified: expected 3 and found 2

In [ ]:
pd.read_csv("oil_no_header.csv")

In [ ]:
pd.read_csv("oil_no_header.csv", header=None)

In [ ]:
columns = ["index", "Date", "Oil Price"]

pd.read_csv("oil_no_header.csv", header=None, names=columns)